node_modules/
.next/
out/
*.log
.env
.env.local
.env.*.local
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
public/firebase-config.js
functions/node_modules/
service-account.json
.DS_Store
tsconfig.tsbuildinfo
next-env.d.ts
